{
  "rules": {
    "indent": 0,
    "quotes": [ 2, "single" ],
    "linebreak-style": [ 2, "unix" ],
    "semi": [ 2, "never" ],
    "no-unused-vars": [ 2, "all" ],
    "no-console": 0,
    "strict": [2, "global"],
    "global-strict": [0, "always"]
  },
  "env": {
    "node": true,
    "es6": true
  },
  "extends": "eslint:recommended"
}
